@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsansnarrow.woff2');
}

@font-face {
  font-family: 'PT Sans Bold';
  src: url('../fonts/ptsansnarrowbold.woff2');
}

body{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 27px;
}

