.site-list{
  display: flex;
  margin: 0;
  padding: 0;
}

.site-list__item a{
  padding: 26px 30px;
  color: #ffffff;
  line-height: 24px;
  font-family: "PT Sans Bold", Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}